

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  font-family: 'Lato';
}
p {
  font-size: 1em;
}
hr {
  padding-top: 1.5em;
}

footer {
  margin: 1em 0 5em;
}